body {
    background-image: url("../images/background.jpg");
    background-size: 100%;
    font-family: 'Cormorant SC', serif;
    font-size: 700;
}

img {
    padding-top: 20px;
    padding-bottom:20px;
    width: 400px;
}

.container {
    width: 50%;
    margin-top: 50px;
    margin-right: 25px;
}

#start {
    margin-top: 100px;
}

#reset {
    margin-top: 30px;
    margin-bottom: 10px;
}